# Fichiers d'environnement
.env
.env.*
!.env.exemple

# Dépendances
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers IDE
.idea/
.vscode/
*.swp
*.swo